<!-- courses.ejs -->

<h3 class="m-2">All Courses</h3>

<table class="table fs-5 p-4 table-hover">
  <thead>
    <tr>
      <th>Course Name</th>
      <th class="text-center">Course Code</th>
      <th class="text-center">Enrollment</th>
    </tr>
  </thead>
  <tbody>
    <% courses.forEach(function(course) { %>
      <tr>
        <td ><%= course.name %></td>
        <td class="text-center"><%= course.code %></td>
        <td class="text-center">
          <form action="/enroll" method="post">
            <input type="hidden" name="courseId" value="<%= course._id %>">
            <!-- <button type="submit" class="btn btn-primary">Enroll</button> -->
            <% if (enrolledCourseIds.includes(course._id.toString())) { %>
              Enrolled 
        <% } else { %>  
            <a href="/student/enroll?student_id=<%= student_id %>&course_id=<%= course._id %>" class="btn btn-primary">Enroll</a>
        <% } %>
        </form>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
