<div class="mt-4 p-4">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="row bg-white col-10 rounded-3">
      <div class="text-center">
          <h2>Profile</h2>
      </div>
      <hr>
      <div class="border d-flex justify-content-center align-items-top p-2">
        <div class="col-md-4">
          <img src="/uploads/<%=student.image %>" class="img-thumbnail" style="height: 250px; width: 220px;" alt="Profile Picture">
          <h5 class="text-center mt-3"><%= student.name %></h5>
        </div>
        <div class="col-md-8">
          <table class="table table-bordered">
            <tr>
              <th>Student Id</th>
              <td><%= student.student_id %></td>
            </tr>
            <tr>
              <th>Email</th>
              <td><%= student.email %></td>
            </tr>
            <tr>
              <th>Phone</th>
              <td><%= student.phone %></td>
            </tr>
            <tr>
              <th>Session</th>
              <td><%= student.session%></td>
            </tr>
            <tr>
              <th>Address</th>
              <td><%= student.address %></td>
            </tr>
            <tr>
              <th>Twitter</th>
              <td><a href="https://twitter.com/johndoe/">twitter.com/rasel/</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
